# Configuration file

####################
# armor
####################

armor {
    ####################
    # item_infusedarmor_helmet
    ####################

    item_infusedarmor_helmet {
        I:01.ID=4438
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=2.0
        D:09.Air=0.0
    }

    ####################
    # item_infusedarmor_chest
    ####################

    item_infusedarmor_chest {
        I:01.ID=4439
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=2.0
        D:09.Air=0.0
    }

    ####################
    # item_infusedarmor_leggins
    ####################

    item_infusedarmor_leggins {
        I:01.ID=4440
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=2.0
        D:09.Air=0.0
    }

    ####################
    # item_infusedarmor_boots
    #===================
    # 
    ####################

    item_infusedarmor_boots {
        I:01.ID=4441
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=2.0
        D:09.Air=0.0
    }

}


####################
# blocks
####################

blocks {
}


####################
# entity
####################

entity {
}


####################
# items
####################

items {
}


