# Configuration file

####################
# armor
####################

armor {
    ####################
    # item_infusedarmor_helmet_epic
    ####################

    item_infusedarmor_helmet_epic {
        I:01.ID=4442
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=4.0
        D:09.Air=0.0
    }

    ####################
    # item_infusedarmor_chest_epic
    ####################

    item_infusedarmor_chest_epic {
        I:01.ID=4443
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=4.0
        D:09.Air=0.0
    }

    ####################
    # item_infusedarmor_leggins_epic
    ####################

    item_infusedarmor_leggins_epic {
        I:01.ID=4444
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=4.0
        D:09.Air=0.0
    }

    ####################
    # item_infusedarmor_boots_epic
    #===================
    # 
    ####################

    item_infusedarmor_boots_epic {
        I:01.ID=4445
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=4.0
        D:09.Air=0.0
    }

}


####################
# blocks
####################

blocks {
}


####################
# entity
####################

entity {
}


####################
# items
####################

items {
}


