# Configuration file

####################
# armor
####################

armor {
    ####################
    # item_bop_helmetMud
    ####################

    item_bop_helmetMud {
        I:01.ID=21280
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # item_bop_chestplateMud
    ####################

    item_bop_chestplateMud {
        I:01.ID=21281
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # item_bop_leggingsMud
    ####################

    item_bop_leggingsMud {
        I:01.ID=21282
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # item_bop_bootsMud
    #===================
    # 
    ####################

    item_bop_bootsMud {
        I:01.ID=21283
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


####################
# blocks
####################

blocks {
}


####################
# entity
####################

entity {
}


####################
# items
####################

items {
}


