# Configuration file

####################
# armor
#===================
# Custom armor properties
####################

armor {
    ####################
    # helmetLeather
    #===================
    # 
    ####################

    helmetLeather {
        I:01.ID=298
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # plateLeather
    #===================
    # 
    ####################

    plateLeather {
        I:01.ID=299
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # legsLeather
    #===================
    # 
    ####################

    legsLeather {
        I:01.ID=300
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # bootsLeather
    #===================
    # 
    ####################

    bootsLeather {
        I:01.ID=301
        D:"02.Temp Add - Night"=1.0
        D:"03.Temp Add - Shade"=1.0
        D:"04.Temp Add - Sun"=1.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # helmetIron
    #===================
    # 
    ####################

    helmetIron {
        I:01.ID=306
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # plateIron
    #===================
    # 
    ####################

    plateIron {
        I:01.ID=307
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # legsIron
    #===================
    # 
    ####################

    legsIron {
        I:01.ID=308
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # bootsIron
    #===================
    # 
    ####################

    bootsIron {
        I:01.ID=309
        D:"02.Temp Add - Night"=-0.5
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.5
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # helmetGold
    #===================
    # 
    ####################

    helmetGold {
        I:01.ID=314
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # plateGold
    #===================
    # 
    ####################

    plateGold {
        I:01.ID=315
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # legsGold
    #===================
    # 
    ####################

    legsGold {
        I:01.ID=316
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # bootsGold
    #===================
    # 
    ####################

    bootsGold {
        I:01.ID=317
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.2
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # helmetDiamond
    #===================
    # 
    ####################

    helmetDiamond {
        I:01.ID=310
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # plateDiamond
    #===================
    # 
    ####################

    plateDiamond {
        I:01.ID=311
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # legsDiamond
    #===================
    # 
    ####################

    legsDiamond {
        I:01.ID=312
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # bootsDiamond
    #===================
    # 
    ####################

    bootsDiamond {
        I:01.ID=313
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.1
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=0.9
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


####################
# blocks
#===================
# Custom block properties
####################

blocks {
}


####################
# entity
#===================
# Custom entity properties
####################

entity {
}


####################
# items
#===================
# Custom item properties
####################

items {
    ####################
    # potions
    #===================
    # 
    ####################

    potions {
        I:01.ID=373
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.05
        D:"08.Effect Air Quality"=-0.05
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=25.0
        D:"11.Effect Temperature Cap"=37.05
    }

    ####################
    # magicalFood
    #===================
    # 
    ####################

    magicalFood {
        I:01.ID=4627
        I:02.Damage=-10
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.5
        D:"06.Ambient Santity"=0.5
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=0.2
        D:"09.Effect Sanity"=25.0
        D:"10.Effect Hydration"=20.0
        D:"11.Effect Temperature Cap"=37.01
    }

    ####################
    # melon
    #===================
    # 
    ####################

    melon {
        I:01.ID=360
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=5.0
        D:"11.Effect Temperature Cap"=37.01
    }

    ####################
    # carrot
    #===================
    # 
    ####################

    carrot {
        I:01.ID=391
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=5.0
        D:"11.Effect Temperature Cap"=37.01
    }

    ####################
    # goldCarrot
    #===================
    # 
    ####################

    goldCarrot {
        I:01.ID=396
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=5.0
        D:"11.Effect Temperature Cap"=37.01
    }

    ####################
    # redApple
    #===================
    # 
    ####################

    redApple {
        I:01.ID=260
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=-0.01
        D:"08.Effect Air Quality"=-0.01
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=5.0
        D:"11.Effect Temperature Cap"=37.01
    }

    ####################
    # bucketLava
    #===================
    # 
    ####################

    bucketLava {
        I:01.ID=327
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=50.0
        D:"05.Ambient Air Quality"=-0.5
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=15.0
    }

    ####################
    # redFlower
    #===================
    # 
    ####################

    redFlower {
        I:01.ID=38
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.1
        D:"06.Ambient Santity"=0.1
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # yellowFlower
    #===================
    # 
    ####################

    yellowFlower {
        I:01.ID=37
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.1
        D:"06.Ambient Santity"=0.1
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # leaves
    #===================
    # 
    ####################

    leaves {
        I:01.ID=18
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.1
        D:"06.Ambient Santity"=1.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # snowBlock
    #===================
    # 
    ####################

    snowBlock {
        I:01.ID=80
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # ice
    #===================
    # 
    ####################

    ice {
        I:01.ID=79
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # snowLayer
    #===================
    # 
    ####################

    snowLayer {
        I:01.ID=78
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.05
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # netherrack
    #===================
    # 
    ####################

    netherrack {
        I:01.ID=87
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=2.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # soulSand
    #===================
    # 
    ####################

    soulSand {
        I:01.ID=88
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=-0.1
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # skull
    #===================
    # 
    ####################

    skull {
        I:01.ID=397
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # web
    #===================
    # 
    ####################

    web {
        I:01.ID=30
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # 11
    #===================
    # 
    ####################

    11 {
        I:01.ID=2266
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=-1.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

}


